.nav-pills .nav-link.active{
    color: #EEEEEE;
    background-color: #393E46;
}

.nav-link {
    color: black;
    border: 1px solid black;
}

.nav-link:hover{
    background-color: #00ADB5;
    color: #222831;
}

h1 {
    text-align: center;
}